// colors
$primary-dark: #3b3b3b;
$primary-white: #fff;

$primary-hover-01: rgba(255, 255, 255, 0.1);
$primary-hover-02: rgba(255, 255, 255, 0.2);
$primary-hover-03: rgba(255, 255, 255, 0.3);
$primary-hover-08: rgba(0, 0, 0, 0.2);

$secondary-hover: #6d4aff;
