@use "vars" as *;

body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}
