@use "../../app/styles/vars" as *;

.menu {
  width: 48px;
  background-color: $primary-dark;
  position: relative;

  &__sidebar {
    height: 100%;
    width: 250px;
    padding: 20px 20px 24px;
    box-sizing: border-box;
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__sidebar-title-container {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    h2 {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;

      letter-spacing: 0.3px;
      color: rgba(0, 0, 0, 0.8);
    }

    p {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.24px;

      color: rgba(0, 0, 0, 0.8);
    }
  }

  &__sidebar-caption {
    margin-top: auto;

    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.24px;

    color: rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  &__sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__sidebar-button {
    text-transform: none !important;
    width: 100%;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.12));
    border-radius: 8px !important;
    padding: 10px 40px !important;

    font-family: "Poppins";
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    letter-spacing: 0.48px !important;

    color: $primary-dark !important;
    outline: 1px solid rgba(0, 0, 0, 0.2) !important;

    &:hover {
      background-color: transparent;
      color: $secondary-hover !important;
      svg path {
        stroke: $secondary-hover;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(50%, -50%);
      path {
        stroke: $primary-dark;
      }
    }

    &_active {
      background-color: $primary-dark !important;
      color: $primary-white !important;

      &:hover {
        color: $primary-dark !important;
        background-color: $primary-hover-08 !important;
        svg path {
          stroke: $primary-dark;
        }
      }

      &:active {
        background-color: $primary-hover-03;
      }

      svg path {
        stroke: $primary-white;
      }
    }
  }

  &__list {
    padding: 20px 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    box-sizing: border-box;

    li:nth-of-type(4) {
      margin-top: auto;
      position: relative;

      &::after {
        content: "";
        width: 20px;
        position: absolute;
        height: 1px;
        top: -20px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $primary-hover-02;
      }
    }
  }

  &__button {
    &:hover {
      background: $primary-hover-01 !important;
      border-radius: 8px !important;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    &_active {
      background: $primary-hover-02 !important;
      border-radius: 8px !important;
    }
  }
}
