.input {
  width: 100% !important;
  margin-top: 1px !important;
  input {
    border: none !important;
    padding: 10px 12px !important;
    background: #ffffff !important;
    outline: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 8px !important;
    &:hover {
      outline: 1px solid rgba(0, 0, 0, 0.5) !important;
    }
    &:focus {
      outline: 2px solid #35cdfd !important;
    }
  }
  fieldset {
    border: none !important;
  }
}
